<h1>Addresses#index</h1>
<p>Find me in app/views/addresses/index.html.erb</p>
<% @addresses.each do |address| %>
  <%=address.street%>
  <%=address.city%>, <%=address.state%> <%=address.zip%>
  Country:<%=address.country%>
  Region:<%address.region>
 <br>
  <%= link_to "Edit", edit_location_address_path(@location, address) %>
  <%= link_to "Delete", location_address_path(@location, address), method: :delete %>
  <br><br><br>
<% end %>
<br>
<%= link_to "Create New Address", new_location_address_path %>